<div class="form-box">
  <a class="back cursor-pointer" (click)="handleBackClick()"
    ><i class="bi bi-arrow-left me-3"></i>Back</a
  >
  <h2>Enter OTP</h2>
  <div class="text-gray">
    Enter the OTP sent to {{ emailId() ? emailId() : mobileNumber() }}
  </div>
  <div *ngIf="isLoading" class="text-center d-flex flex-column align-items-center">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
  <form action="#" method="post">
    <div class="form-group mb-32">
      <label class="form-label">OTP</label>
      <div class="row g-1 text-center mb-2">
        <div class="col">
          <input
            type="text"
            class="form-control text-center otp-input"
            maxlength="1"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="otp()[0]"
            (input)="onInput($event, 0)"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control text-center otp-input"
            maxlength="1"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="otp()[1]"
            (input)="onInput($event, 1)"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control text-center otp-input"
            maxlength="1"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="otp()[2]"
            (input)="onInput($event, 2)"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control text-center otp-input"
            maxlength="1"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="otp()[3]"
            (input)="onInput($event, 3)"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control text-center otp-input"
            maxlength="1"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="otp()[4]"
            (input)="onInput($event, 4)"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control text-center otp-input"
            maxlength="1"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="otp()[5]"
            (input)="onInput($event, 5)"
          />
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <small class="text-gray">Didn’t received the OTP? </small>
        @if(!isResendAllowed()) {
        <small>
          <span class="text-black text-bold">Resend OTP</span>
          <span class="text-gray mx-2"
            >in {{ minutes() }}:{{ seconds() | number : '2.0' }}</span
          >
        </small>
        } @else {
        <a
          href="javascript:void(0);"
          (click)="handleResendOtpClick()"
          class="link"
          >Resend OTP</a
        >
        }
      </div>
    </div>
    <button class="btn btn-warning" (click)="handleOtpSubmit()">
      {{ isLoading ? 'Verifying' : 'Verify' }}
    </button>
  </form>
</div>
