<app-header></app-header>
<section class="HT-project-details">
    <app-project-details></app-project-details>
    <app-content></app-content>
    <div class="bg-gray pt-3 pb-5">
        <div class="container">
            <div id="book-details" class="section"> <!-- Add a class to the section -->
                <app-book-details></app-book-details>
            </div>
            <!-- <div id="milestone" class="section">
                <app-milestone></app-milestone>
            </div> -->
            <div id="payment-schedule" class="section">
                <app-bank-accounts></app-bank-accounts>
            </div>
            <div id="dl-receipts" class="section">
                <app-dl></app-dl>
            </div>
            <div id="possession-details" class="section">
                <app-possession></app-possession>
            </div>
            <div id="project-updates" class="section">
                <app-project-updates></app-project-updates>
            </div>
            <div id="upcoming-projects" class="section">
                <app-upcoming-projects></app-upcoming-projects>
            </div>
            <div id="faqs" class="section">
                <app-faq></app-faq>
            </div>
            <app-milestone-modal></app-milestone-modal>
            <app-receipts-modal></app-receipts-modal>
            <app-payment-sch-modal></app-payment-sch-modal>
            <app-kyc-modal></app-kyc-modal>
            <app-tds-modal></app-tds-modal>
            <app-noc-modal></app-noc-modal>
            <app-ask-query></app-ask-query>
        </div>
    </div>

</section>