.HT-login {
    .page-bg {
        min-height: 100vh;
        background-repeat: no-repeat no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
    }

    .right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:16px ;
    }

    .form-box {
        width: 100%;
        max-width: 410px;
        margin: 0 auto;
    }

    h2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 130%;
        margin-bottom: 12px;
    }

    .back {
        display: block;
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #131313;
    }

    form {
        margin-top: 40px;

        .btn {
            font-size: 18px;
            width: 100%;
            padding: 18px;
        }
    }

}