<!-- start section upcoming projects -->
<div class="HT-details-card mb-3">
    <div class="HT-card-head">
        <div class="HT-title">
            <img src="images/projects-icon.svg">
            <span class="dark-text">Upcoming Projects</span>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row g-3">
            @if(upcomingProjects && upcomingProjects.length) {
                @for (up of upcomingProjects; track $index) {
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="coming-project-card card-shado">
                            <!-- <img src="images/coming-img.svg" class="card-img mb-3"> -->
                            <!-- <img [src]="up?.projectImage" #imageRef (error)="imageRef.src='images/project-icon.svg'" class="card-img mb-3"> -->
                            <div class="project-img-box h-100 " data-bs-toggle="modal" data-bs-target="#upcomingProjectImagesSliderModal" (click)="handleViewImageClick(up?.listProjectImages)">
                                <img [src]="up?.listProjectImages?.[0]?.imageUrl" #projectUpdateImage (error)="projectUpdateImage.src='images/project-icon.svg'" class="project-img w-100">
                                <div class="hover-btn">
                                    <span>View Images</span>
                                </div>
                            </div>
                            <div>
                                <h3 class="mb-2 mt-3" style="height: 44px; line-height: 1.1">{{up?.projectName}}</h3>
                                <div class="text-gray mb-12" style="min-height: 37px; color: #909090 !important; line-height: 1.3;">
                                    {{up?.address}}
                                </div>
                                <div class='social-links'>
                                    <a [href]="'https://' + up?.instagramlink" target="_blank" rel="noopener noreferrer">
                                        <img src="images/insta-logo.svg" class="social-img" />
                                    </a>
                                    <a [href]="'https://' + up?.facebooklink" target="_blank" rel="noopener noreferrer">
                                        <img src="images/facebook-logo.svg" class="social-img" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            } @else {
                <!-- <div class="text-center"> -->
                    <p>No upcoming projects to show.</p>
                <!-- </div> -->
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade slider-modal" id="upcomingProjectImagesSliderModal" tabindex="-1" aria-labelledby="upcomingProjectImagesSliderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if(upcomingProjetcImages() && upcomingProjetcImages().length) {
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                            @for ( sp of upcomingProjetcImages(); track $index) {
                                <button type="button" data-bs-target="#carouselExampleIndicators" attr.data-bs-slide-to="{{$index}}"
                                [class.active]="$index == 0" aria-current="true" aria-label="Slide 1"></button>
                            }
                            <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button> -->
                        </div>
                        <div class="carousel-inner">
                            @for ( sp of upcomingProjetcImages(); track $index) {
                                <div class="carousel-item" [ngClass]="{'active': $index == 0}">
                                    <img [src]="sp?.imageUrl" #projectImages (error)="projectImages.src='images/project-icon.svg'" class="w-100">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <img src="images/left-arrow.svg">
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <img src="images/right-arrow.svg">
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                }
                @else {
                  <div class="text-center">
                    <p>No images available</p>
                  </div>
                }
            </div>
        </div>
    </div>
</div>